@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/*-----------------------------------------------NavBar*/

.formula-one-logo{
    background: url(../images/formula-one-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 400px;
}

.navbar-brand img {
        max-height: 100%;
        height: 100%;
        margin: 0 auto;
}
    
.navbar-fixed-top{
    border-width: 0;
}

.navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-nav li a:hover{
    background-color: white;
    color: #ee0000;
}

/*-----------------------------------------------Header*/

.welcome{
    text-align: center;
}

/*-----------------------------------------------Section*/

.section-text{
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

.index-image{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
}

.circuit-images, .team-images, .driver-images{
    display: block;
    width: 75%;
    height: 160px;
    margin-left: 0px;
    margin-right: auto;
}

.thanks-image{
    display: block;
    width: 75%;
    height: auto;
    margin: 0px auto;
}

.secondary-header{
    text-align: center;
}

.video-frame {
    display: block;
	position: relative;
	margin: auto;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.senna-clip{
    display: block;
    margin: 20px auto 20px;
}


/*-----------------------------------------------Footer*/

.fa{
    font-size: 18px;
}

.footer-background{
    background-color: #afafaf;
    margin-top: 15px;
}


/*-----------------------------------------------Colors*/

body{
    font-family: "Titillium Web", Helvetica, sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #555555;
    margin-top: 50px;
}

.navbar-background{
    background-color: #ee0000;
}

.nav-text-color{
    color: #fff;
}


/*-----------------------------------------------Special Stylings*/

.uppercase{
    text-transform: uppercase;
}

.info{
    padding-left: 22px;
    font-size: 20px;
}

.form-position{
    display: block;
    margin: 15px auto;
    max-width: 50%;
}

.btn-form{
    display: block;
    margin: 10px auto;
    background-color: #ee0000;
    color: white;
}

.form-control{
    margin: 5px;
}

.form-position a:hover{
    text-decoration: none;
    color: white;
}

/*-----------------------------------------------Media Queries*/

@media (max-width:768px) {
    .circuit-images, .team-images, .driver-images{
        height: 50%;
    }
    
    .form-position{
        max-width: 75%;
    }
}
